# git@github.com:mab64/pyany.git
# https://github.com/mab64/pyany.git

.*
!.gitignore
!.gitlab-ci.yml
!.dockerignore
!.github
__init__
__pycache__
*.db
#/tweets/tweets.db
*.bak
*.conf
*.conf.py
*.tmp
*_.*
temp/
work/
#
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars

