body {
  /*padding-top: 20px; */
  padding-top: 0px;
}

#headerWrapper {
    width: 100%;
	height: 80px;
}

.logo {
    padding: 10px;
    margin-right: 10x;
    font-size: 35px;
    font-family: fantasy;
}

.tagline {
    font-size: 10px;
    margin-top: 50px;
    /* margin-left: -123px; */
    margin-left: -80px;
    font-family: monospace;
}

.nav-wrapper {
    margin-left: 100px;
    margin-top: 15px;
}

#ListWrapper {
	width: 100%;
	padding: 10px;
}

#ListWrapper input {
	width: 25%;
}

#ListWrapper .product {
	border: 1px solid gray;
	padding: 10px;
	margin-bottom: 10px;
	/* background: white url(static/img/{{product.imgUrl}}) no-repeat; */
	/* min-height: 200px; */
}

#ListWrapper .product .product-details {
	margin-left: 200px;
}


.products {
  list-style: none;
}

.products li {
  clear: both;
  height: 165px;
  padding-top: 15px;
}

.thumb {
  float: left;
  height: 100px;
  margin: -0.5em 1em 1.5em 0;
  padding-bottom: 1em;
  width: 150px;
}

/* #btnUpdate {
  width: 200px
				   
} */

/*== 
table {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 85%;
	width: 85%;
	margin: 0 auto;
	text-shadow: 2px 2px 5px #66aa66;
	text-align: center;
}
tr {
	opacity: 0.75;
}
tr:first-child {
	opacity: 1.0;
}
tr:hover {
	opacity: 1.0;
}
th {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	padding: 15px 10px;
	color: #ffffff;
	border: solid 1px #66aa00;
	border-bottom-width: 3px ;
	border-radius: 5px 5px 0 0;
	background-color: #777700;
	background: -webkit-linear-gradient(#8fbb65, #777700);
	background: -o-linear-gradient(#8fbb65, #777700);
	background: -moz-linear-gradient(#8fbb65, #777700);
	background: linear-gradient(#8fbb65, #777700); 
}
th:first-child {
	text-align: left;
}

td {
	padding: 10px;
	background-color: #e0ffc8;
	color: #505000;
	border-radius: 2px;
}
td:first-child {
	text-align: left;
}
==*/
